@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Resete do CSS padrão*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Raleway;
    font-size: 100%;
    /* Mantendo o tamanho padrão da fonte, sem aumentar ou diminuir*/
    background: #262525;
    /* Cor de fundo*/
    color: aliceblue;
    /* Cor da letra */
}

.cabecalho {
    display: flex;
    /* Para usar o Flexbox*/
    align-items: center;
    /* Alinha os intens no centro */
    justify-content: space-between;
    /* O primeiro item no início do contêiner e o último item no final, e os espaços entre os itens são maximizados */
    align-items: center;
}

.cabecalho-logo {
    display: flex;
    flex-direction: column;
    /* Centraliza o texto verticalmente */
    text-align: flex-start;
    /* Deixa os itens alinhados no canto (inicio) do conteiner */
    font-size: 19px;
    /* Adicione o tamanho desejado da fonte */
    padding: 2px 19px 15px;
    margin: 20px 90px 30px 10px;
}

.cabecalho-logo span {
    display: block;
    /* Faz com que cada palavra fique em uma linha separada */
}


.cabecalho-menu {
    display: flex;
    gap: 40px;
    /* Espaçamento entre os itens */
    padding: 15px 22px 15px 120px;
    margin: 20px 50px 30px 0;
    /* Aumenta a margem à direita para afastar do canto direito */
    align-items: baseline;
}

.cabecalho-menu-item-ligar {
    display: flex;
    padding: 15px 50px 15px 50px;
    margin: 0px;
    border: 0.4px solid aliceblue;
}

.conteudo {
    border-top: 2px solid #ded0f0;
}

.conteudo-um {
    display: flex;
    flex-direction: column;
    padding: 80px 50px 80px 50px;
    margin: 200px 90px 300px 90px;
    align-items: center;
    border: 0.4px solid aliceblue;
}

.conteudo-um-titulo {
    display: flex;
    font-size: 60px;
    padding: 10px 50px 10px 50px;
    word-spacing: 6px;
    /* Espaçamento entre palavras */
}

.conteudo-um-semititulo {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 10px 50px 10px 50px;
}

.conteudo-dois {
    border-top: 2px solid #ded0f0;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 72px 80px 0px 80px;
    align-items: flex-start;
    border: 0.1px solid #ad9f88;
}

.conteudo-dois-imagem {
    border: 0.1px solid #ad9f88;
    border-bottom: none;
    /* ou border-bottom: 0; --> Tirando a borda de baixo */
}

.conteudo-dois-textos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.conteudo-dois-titulo {
    font-size: 41px;
    padding: 30px 30px 20px 40px;
    margin: 140px 100px 2px 45px;
}

.conteudo-dois-servicos-menu {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 12px 40px;
    margin: 10px 100px 10px 75px;
}

.conteudo-dois-servicos-menu-item {
    margin-bottom: 15px;
}

.conteudo-dois-info {
    display: inline-block;
    font-size: 14px;
    padding: 20px 54px 20px 54px;
    margin: 10px 290px 10px 80px;
    background-color: #ad9f88;
    color: black;
}

.conteudo-tres {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.conteudo-tres-item-casa {
    padding: 20px 88px 74px 88px;
    margin: 0px 0px 10px 80px;
    border: 0.1px solid #ad9f88;
    border-top: none;
    /* ou border-top: 0; --> Tirando a borda de cima */
    justify-content: center;
}

.conteudo-tres-casa-img {
    display: flex;
    flex-direction: column;
    padding: 31px 0px 8px 0px;
    margin: 0px;

}

.conteudo-tres-lista-casa {
    display: flex;
    padding: 0px;
    margin: 0px;
    text-align: center;
    /* Deixa os itens alinhados no canto (inicio) do conteiner */
}

.conteudo-tres-lista-casa span {
    display: block;
    /* Faz com que cada palavra fique em uma linha separada */
}

.conteudo-tres-item-quebra-cabeca {
    padding: 20px 87px 74px 88px;
    margin: 0px 0px 10px 0px;
    border: 0.1px solid #ad9f88;
    border-top: none;
    /* ou border-top: 0; --> Tirando a borda de cima */
    border-left: none;
    justify-content: center;
}

.conteudo-tres-quebra-cabeca-img {
    display: flex;
    flex-direction: column;
    padding: 31px 0px 8px 0px;
    margin: 0px;

}

.conteudo-tres-lista-quebra-cabeca {
    display: flex;
    padding: 0px;
    margin: 0px;
    text-align: center;
    /* Deixa os itens alinhados no canto (inicio) do conteiner */
}

.conteudo-tres-lista-quebra-cabeca span {
    display: block;
    /* Faz com que cada palavra fique em uma linha separada */
}

.conteudo-tres-item-quadrado {
    padding: 20px 87px 74px 88px;
    margin: 0px 0px 10px 0px;
    border: 0.1px solid #ad9f88;
    border-top: none;
    /* ou border-top: 0; --> Tirando a borda de cima */
    border-left: none;
    justify-content: center;
}

.conteudo-tres-quadrado-img {
    display: flex;
    flex-direction: column;
    padding: 31px 0px 8px 0px;
    margin: 0px;
}

.conteudo-tres-lista-quadrado {
    display: flex;
    padding: 0px;
    margin: 0px;
    text-align: center;
    /* Deixa os itens alinhados no canto (inicio) do conteiner */
}

.conteudo-tres-lista-quadrado span {
    display: block;
    /* Faz com que cada palavra fique em uma linha separada */
}

.conteudo-tres-estatua {
    display: flex;
    flex-direction: column;
    border: 0.1px solid #ad9f88;
    padding: 20px 65px 20px 95px;
    border: 0.1px solid #ad9f88;
}